html(lang='it')
  head
    title Invio titolo
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css')
.container
    h1 Marmotte pazze distratte Podcast
    h2 Aggiungi il titolo dell'articolo
    if alert
      p #{alert}
    #container.col
    if done
      p Non puoi inviare altri titoli. Puoi chiudere la pagina
    else
      form(method='POST' action='/')
        label(for='titolo') Titolo: 
        input#comando(type='text' name='titolo' required='')
        input(type='submit' value='Invia')