html(lang='it')
  head
    title Reset
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css')
.container
    h1 Pannello
    p Numero titoli: #{n}
    p Partecipanti: #{part}
    if checkIp == true
      p(style="color:red") Il controllo IP è abilitato
    else
      p(style="color:green") Il controllo IP è disabilitato
    if alert
      p(style=`font-size:24px; padding:10px; background-color:green; color: white; border-radius:6px;`) #{alert}
    #container.col
      h2 Reset titoli
      form(method='POST' action='reset')
        label(for='password') Password: 
        input(type='password' name='password' required='')
        input(type='submit' value='Invia')
      hr
      h2 Numero partecipanti
      form(method='POST' action='cambiopartecipanti')
        label(for='password') Password: 
        input(type='password' name='password' required='')
        label(for='password') Numero partecipanti: 
        input(type='number' name='partecipanti' required='')
        input(type='submit' value='Invia')
      h2 Reset indirizzi ip
      form(method='POST' action='resetip')
        label(for='password') Password: 
        input(type='password' name='password' required='')
        input(type='submit' value='Invia')
      h2 Controllo IP
      form(method='POST' action='controlloip')
        label(for='password') Password: 
        input(type='password' name='password' required='')
        input(type='submit' value='Invia')